<div ng-repeat="elem in myElement">
	<div ng-class="{'margin-left-small': !$first}" style="width: {{elem.width || '100%'}}" ng-include="elem.type + '.html'" style="display: inline-block;"></div>
</div>

<!-- TEXT -->
<script type="text/ng-template" id="text.html">
	<div  ng-if="elem.url" style="display: inline-block">
		<md-tooltip>{{elem.title}}</md-tooltip>
		<a target="{{elem.target}}" ng-href="{{elem.url}}">
			<font color="{{elem.color}}">{{elem.label}}</font>
		</a>
		
	</div>
	<div  ng-if="!elem.url" style="display: inline-block">
		<md-tooltip>{{elem.title}}</md-tooltip>
		<div ng-bind-html="elem.label" color="{{elem.color}}"></div>
	</div>
	<!-- pedix -->
	<sub ng-if="elem.pedix">
		<div ng-repeat="elem in elem.pedix" ng-include="elem.type + '.html'"  style="display: inline-block"></div>
	</sub>
</script>

<!-- ICON -->
<script type="text/ng-template" id="icon.html">
	<div ng-if="elem.url" style="display: inline-block">
		<md-tooltip>{{elem.title}}</md-tooltip>
		<a target="{{elem.target}}" ng-href="{{elem.url}}">
			<i class="fa {{elem.icon_img}} {{elem.modifiers}}" aria-label="{{elem.title}}" style="color: {{elem.color}}"></i>
		</a>
	</div>
	<div ng-if="!elem.url" style="display: inline-block">
		<md-tooltip>{{elem.title}}</md-tooltip>
		<i class="fa {{elem.icon_img}} {{elem.modifiers}}" aria-label="{{elem.title}}" style="color: {{elem.color}}"></i>
	</div>
	<!-- pedix -->
	<sub ng-if="elem.pedix">
		<div ng-repeat="elem in elem.pedix" ng-include="elem.type + '.html'" style="display: inline-block"></div>
	</sub>	
</script>

<!-- IMAGE -->
<script type="text/ng-template" id="image.html">
	<div ng-if="elem.url" style="display: inline-block">
		<a target="{{elem.target}}" ng-href="{{elem.url}}">
			<img title="{{elem.title}}" ng-src="{{elem.img_src}}" height="{{elem.height}}" width="{{elem.width}}" style="vertical-align: middle;">	
		</a>
	</div>
	<div  ng-if="!elem.url" style="display: inline-block">
		<img title="{{elem.title}}" ng-src="{{elem.img_src}}" height="{{elem.height}}" width="{{elem.width}}" style="vertical-align: middle;">	
	</div>
	<!-- pedix -->
	<sub ng-if="elem.pedix">
		<div ng-repeat="elem in elem.pedix" ng-include="elem.type + '.html'"  style="display: inline-block"></div>
	</sub>
</script>

<!-- BUTTON -->
<!-- <md-tooltip>{{elem.title}}</md-tooltip> -->
<!-- <div ng-dropover ng-dropover-options="{'triggerEvent':'hover', 'position':'top-center', 'verticalOffset': '-5'}"> -->
<!-- 	<div ng-dropover-contents class="tooltip-container"> -->
<!-- 		<div ng-bind-html="elem.title" class="custom-tooltip-small"></div> -->
<!-- 	</div> -->
<!-- 	<md-button ng-style="{'background-color': elem.color}" class="md-raised md-primary" ng-click="onClick($event, elem)"> -->
<!-- 			<div ng-repeat="elem in elem.items track by $index" ng-include="elem.type + '.html'" ng-style="{display: 'inline-block', 'margin-left': ($first ? '0px' : '5px')}"></div> -->
<!-- 	</md-button> -->
<!-- </div> -->
<script type="text/ng-template" id="button.html">
	<md-button aria-label="{{elem.title}}" title="{{elem.title}}" ng-style="{'background-color': elem.color}" class="md-raised md-primary" ng-click="onClick($event, elem)">
			<div ng-repeat="elem in elem.items track by $index" ng-include="elem.type + '.html'" ng-style="{display: 'inline-block', 'margin-left': ($first ? '0px' : '5px')}"></div>
	</md-button>
</script>

<!-- CHIPS -->
<script type="text/ng-template" id="chips.html">
	<md-chips ng-model="elem.items" readonly="true" md-removable="false">
      <md-chip-template>
        <span title="{{$chip.title}}">
          <span ng-if="$chip.key && $chip.displayKey == true"><strong>{{$chip.key}}</strong>:</span>
		  <div ng-bind-html="$chip.value"></div>
        </span>
      </md-chip-template>
    </md-chips>
</script>

<!-- DOWNLOAD BUTTON -->
<script type="text/ng-template" id="download_button.html">
	<form method="get" action="{{elem.url}}">
		<md-button type="submit" title="{{elem.title}}" class="md-raised md-primary">{{elem.label}}</md-button>
	</form>
</script>

<!-- DOWNLOAD -->
<script type="text/ng-template" id="download.html">
	<a download	title="{{elem.title}}" href="{{elem.url}}" target="_blank">
		<img ng-if="elem.icon !== undefined" class="icon" ng-src="{{elem.icon}}"/>{{elem.label}}
	</a>
</script>
