<md-card ng-if="card.show">
	<md-card-title ng-if="card.title || card.subtitle" ng-class="{'padding-v-small': card.compact}">
		<md-card-title-text>
	            <span class="md-headline" ng-if="card.title" ng-bind-html="card.title"></span>
	            <span class="md-subhead" ng-if="card.subtitle" ng-bind-html="card.subtitle"></span>
	    </md-card-title-text>
	</md-card-title>
	
	<md-card-content>
	
		<div ng-if="sending" style="text-align: center; color: cadetblue;">
     		<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
 		</div>
 		
<!-- 		<div ng-if="actions" style="display: inline-block; width: auto; float: right;"> -->
<!-- 			<action ng-controller="buttonController" ng-init="init(action)" ng-repeat="action in actions"> -->
<!-- 			</action> -->
<!-- 		</div> -->
		
		<!-- layout="{{card.layout ? card.layout : 'row'}}" -->
		<element ng-if="element.layout" layout="{{element.layout || 'row'}}" flex="{{element.layout != undefined ? 'auto' : 'none'}}" ng-repeat="element in card.elements" ng-controller="elementController" ng-init="init(element)">
		</element>
		
		<element ng-if="!element.layout" ng-repeat="element in card.elements" ng-controller="elementController" ng-init="init(element)">
		</element>

	</md-card-content>
	
	<md-divider ng-if="card.footer"></md-divider>
	
	<md-card-footer ng-if="card.footer">
		<span ng-bind="footerFunction(card.footer.prefixFunction)"></span>
		<span style="display: inline-block;" ng-if="card.footer.label != 'auto'" ng-bind="card.footer.label"></span><span style="display: inline-block;" ng-if="card.footer.label == 'auto'" ng-bind="card.footer.header[0]"></span><span style="display: inline-block;" ng-if="card.footer.pluralize && card.elements[0].data.length > 0">s</span>
	</md-card-footer>
</md-card>