<!-- FILTER -->
<md-content ng-show="false" class="md-whiteframe-4dp" flex>
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<h2 flex md-truncate>Filter</h2>
			<md-button class="md-icon-button" aria-label="Favorite" ng-click="showFilter()">
				<ng-md-icon ng-show="filter_visibility == false" icon="keyboard_arrow_down" style="fill: white"></ng-md-icon> 
				<ng-md-icon ng-show="filter_visibility == true" icon="keyboard_arrow_up" style="fill: white"></ng-md-icon> 
			</md-button>
		</div>
	</md-toolbar>
	<md-content ng-show="filter_visibility" class="md-whiteframe-4dp myform" flex layout-padding>	
		<div ng-repeat="filter_obj in filter_list">
			<b>{{filter_obj.title}}</b>
			<div layout-gt-sm="row">
				<div ng-repeat="filter in filter_obj.filters">
					<div ng-switch="filter.type">
					
						<div ng-switch-when="text"> <!-- text field -->
							<md-input-container class="md-block" flex-gt-sm>
								<label>{{formatFilterLabel(filter_obj.label)}}</label>
								<input ng-model="filter.chosen_value">
							</md-input-container>
						</div>
						
						<div ng-switch-when="number"> <!-- number field -->
							<div layout-gt-sm="row">	
								<md-input-container  class="md-block" flex-gt-sm>
									<label>Operator</label>
									<md-select name="type" ng-model="filter.operators" >
										<md-option value="<"> &lt; </md-option>
										<md-option value=">"> &gt;</md-option>
										<md-option value="<="> &#8804; </md-option>
										<md-option value=">="> &#8805; </md-option>
										<md-option value="="> = </md-option>
										<md-option value="!="> &ne; </md-option>
									</md-select>
								</md-input-container>
								<md-input-container  class="md-block" flex-gt-sm>
									<label>{{formatFilterLabel(filter_obj.label)}}</label>
									<input type="number" step="{{filter.step}}" ng-model="filter.chosen_value" min="{{filter.min}}" max="{{filter.max}}" />
								</md-input-container>	
							</div>
						</div>
						
						<div ng-switch-when="radio"> <!-- radio button field -->
							<p>
							<md-radio-group ng-model="filter.chosen_value">
								<md-radio-button ng-repeat="radio in filter.values" ng-value="radio" required>{{radio}}</md-radio-button>
							</md-radio-group>
							</p><br>
						</div>
						
						<div ng-switch-when="select"> <!-- select field -->
							<md-input-container>
								<label>{{formatFilterLabel(filter_obj.label)}}</label>
								<!--gestire il multiple-->
								<div ng-if="filter.multiple == false">
									<md-select ng-model="filter.chosen_value">
										<md-option ng-repeat="element in filter.values" ng-value="element">{{element}}</md-option>
									</md-select>
								</div>
								<div ng-if="filter.multiple == true">
									<md-select ng-model="filter.chosen_value" multiple>
										<md-option ng-repeat="element in filter.values" ng-value="element">{{element}}</md-option>
									</md-select>
								</div>
							</md-input-container>
						</div>
					
						<!--<div ng-switch-when="autocomplete"> 
							<md-autocomplete							
								ng-disabled="false"
								md-no-cache="false"
								md-selected-item="filter.chosen_value"
								md-search-text="searchText"
								md-items="item in querySearch(searchText)"
								md-item-text="item.display"
								md-min-length="0"
								placeholder="{{filter.placeholder}}"
								>
								<md-item-template>
									<span md-highlight-text="$scope.searchText" md-highlight-flags="^i">{{item.display}}</span>
								</md-item-template>
								<md-not-found>
									No matching were found.
								</md-not-found>
							</md-autocomplete>
						</div>-->
						
					</div>
				</div>
			</div>
		</div>
		<div align="right">
			<md-button class="md-raised md-warn" ng-click="resetFilter(); applyFilter();">Reset</md-button>
			<md-button class="md-raised md-primary" ng-click="applyFilter();">Search</md-button>
		</div>
	</md-content>
</md-content>
<br>  

<div ng-if="during_call" style="text-align: center; color: cadetblue; padding-bottom: 50px;">
	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<!-- *************************************** -->
<!-- DATA TABLE -->
<mdt-table  paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,30,40,50]}"
			mdt-row-paginator="paginatorCallback(page, pageSize, options)"
			mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
			mdt-row-paginator-error-message="An error occurred."
            mdt-row="t_property">
            
	<mdt-header-row ng-repeat="column in t_column">
		<mdt-column align-rule="center" column-definition="{{column.tooltip || ''}}">
			{{column.title}}
		</mdt-column>
    </mdt-header-row>
	
	<div ng-repeat="field in table_data.structure.field_list">
		<mdt-custom-cell column-key={{field.label}}>
			<my-custom-element my-element="value" layout="row" layout-align="start center"></my-custom-element>
		</mdt-custom-cell>
	</div>
</mdt-table>