<section style="padding: 0% 5% 0% 5%;">
	<p ng-bind-html="ctrl.info.long_description"></p>
		
	<form ng-submit="ctrl.send_query()">
	
		<div ng-repeat="field in ctrl.form.fields track by $index">
			<div ng-if="field.type != 'autocomplete'">
				<md-input-container class="md-input-has-placeholder">
					<label style="min-width: 400px;" ng-if="field.type != 'checkbox'" ng-bind="field.label"></label>
					
					<input ng-if="field.type != 'choice' && field.type != 'select' && field.type != 'autocomplete' && field.type != 'checkbox'" placeholder="{{field.placeholder}}" ng-model="field.value" ng-value="{{field.default}}" type="{{field.type}}"/>
					
					<md-select ng-model="field.value" ng-if="field.type == 'select' && (!field.multiple || field.multiple == false)" ng-model-options="{trackBy: '$value'}">
						<md-option ng-value="value" ng-repeat="value in field.values track by $index">{{value}}</md-option>
					</md-select>
					
					<md-select multiple ng-model="field.value" ng-if="field.type == 'select' && field.multiple && field.multiple == true" ng-model-options="{trackBy: '$value'}">
						<md-option ng-value="value" ng-repeat="value in field.values track by $index">{{value}}</md-option>
					</md-select>

					<fieldset ng-if="field.type == 'checkbox' && field.values != undefined">
			                	<legend>{{field.label}}</legend>
 			                        <div ng-repeat="value in field.values track by $index" flex="50">
				                        <md-checkbox ng-checked="ctrl.exists(value, field)" ng-click="ctrl.toggle(value, field)">
                            				{{value}}
				                        </md-checkbox>
			                        </div>
			                </fieldset>
					
					<md-checkbox ng-if="field.type == 'checkbox' && !field.values" ng-model="field.value" ng-checked="{{field.checked}}">
						{{field.label}}
					</md-checkbox>
					
					<md-radio-group>
						<md-radio-button ng-click="ctrl.load_form(field, value)" ng-if="field.type == 'choice' && field.subtype == 'radio'" ng-repeat="value in field.values track by $index" name="{{field.group_id}}" ng-model="field.value" ng-checked="{{value.selected}}" ng-value="value.label" type="radio" aria-label="Multi-choice">
							{{value.label}}
						</md-radio-button>
					</md-radio-group>
				</md-input-container>
			</div>
					      
			<div flex="30" ng-if="field.type == 'autocomplete'" ng-controller="autocompleteController as actrl">
				<md-content class="md-padding">
					<label style="min-width: 400px;" ng-if="field.type != 'checkbox'" ng-bind="field.label"></label>
					<md-autocomplete
				          md-selected-item="field.value"
				          md-search-text="actrl.searchText"
				          md-items="item in actrl.querySearch(actrl.searchText)"
				          md-item-text="item"
				          md-min-length="0"
				        >
				        <md-item-template>
				          <span md-highlight-text="actrl.searchText" md-highlight-flags="^i">{{item}}</span>
				        </md-item-template>
				        <md-not-found>
				          No items matching "{{actrl.searchText}}" were found.
				        </md-not-found>
				      </md-autocomplete>
				</md-content>
			</div>

		</div>
		<md-button ng-click="ctrl.send_query()" class="md-primary md-raised">{{ctrl.form.submit.label}}</md-button>
<!-- 		<input type="submit" ng-value="ctrl.form.submit.label"> -->
	</form>
</section>

<section style="padding: 0% 5% 0% 5%;">
	<div ng-if="ctrl.sending" style="text-align: center; color: cadetblue;">
        	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

<!-- style="max-width: 100px;" -->
<!-- style="max-height: 500px; display: block; overflow-y: scroll;" -->
<!-- style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" -->

	<md-card ng-if="ctrl.form_results.items" class="full-card">
		<md-card-title style="text-align: center;">
			<span>{{ctrl.form_results.items.length}}</span>
			<span>&nbsp;results</span>
		</md-card-title>
		<md-card-content>
			<table md-table md-row-select multiple>
				<thead md-head>
		        	<tr md-row>
		            	<th md-column ng-repeat="col in ctrl.form_results.header track by $index">
		            	<span>{{col}}</span>
		            </th>
					</tr>
				</thead>
				<tbody md-body>
			        <tr ng-if="!ctrl.sending" md-row md-auto-select ng-repeat="row in ctrl.form_results.items track by $index">
						<td style="max-width: 100px; overflow-wrap: break-word;" md-cell ng-repeat="field in row track by $index">
                        	<md-button  ng-if='field.type == "button"' ng-click="ctrl.show_dialog($event, field.card)" class="md-raised md-primary">{{field.label}}</md-button>
                        	<span ng-if='field.type != "button"' style="text-overflow: ellipsis;">{{field}}</span>
                      	</td>
					</tr>
				</tbody>
			</table>
		</md-card-content>
	</md-card>
</section>
