
<section style="padding: 0% 5% 0% 5%;" >
	<p ng-bind="form.long_description"></p>
</section>

<section layout="row" style="padding: 0% 5% 0% 5%;">
	
	<md-card ng-if="!search_started" flex="{{form.width || 65}}" style="height: 100%;">
		<md-card-title>
			<md-card-title-text>
		            <span class="md-headline" ng-bind="form.title || 'Search'"></span>
		            <span class="md-subhead" ng-bind="form.subtitle"></span>
		    </md-card-title-text>
		</md-card-title>
		
		<md-card-content>
		
		<i ng-if="form.tooltip" tooltip-show-trigger="focusin" tooltip-hide-trigger="focusout" title-direction="right" title="{{form.tooltip}}" class="fa fa-question-circle fa-2x" style="color: orange"></i>
		
		<md-content class="md-padding">
		
		<form>
			<div ng-repeat="element in form.fields">
<!-- 				<p ng-bind="element | json"></p> -->
				<element ng-controller="elementController" ng-init="init(element)">
				</element>
			</div>
			<md-button ng-click="send_query()" class="md-primary md-raised">{{form.submit.label}}</md-button>
		</form>
		
<!-- 			<h1>Standard form</h1> -->
<!-- 			<form ng-submit="send_query()"> -->
<!-- 				<div ng-repeat="field in form.fields track by $index"> -->
				
<!-- 						<md-input-container class="md-input-has-placeholder" ng-if="field.type != 'autocomplete'" style="min-width: 800px;"> -->
<!-- 							<label ng-if="field.type != 'checkbox'" ng-bind="field.label"></label> -->
							
<!-- 							<p ng-if="field.type == 'paragraph'" ng-bind-html="field.value"></p> -->
							
<!-- 							<input ng-if="field.type != 'choice' && field.type != 'paragraph' && field.type != 'textarea' && field.type != 'select' && field.type != 'autocomplete' && field.type != 'checkbox'" placeholder="{{field.placeholder}}" ng-model="field.value" ng-value="{{field.default}}" type="{{field.type}}" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"/> -->
<!-- 							<textarea ng-if="field.type == 'textarea'" rows="4" max-rows="4" placeholder="{{placeholder}}" ng-model="field.value" ng-value="{{field.default}}" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"></textarea> -->
							
<!-- 							<md-select ng-model="field.value" ng-if="field.type == 'select' && (!field.multiple || field.multiple == false)" ng-model-options="{trackBy: '$value.id'}" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"> -->
<!-- 								<md-option ng-value="value" ng-repeat="value in field.values track by $index"> -->
<!-- 									<div ng-if="value.label" style="padding-bottom: 5px; display: table;"> -->
<!-- 										<div style="display: table-cell; vertical-align: middle;" ng-if="value.img"> -->
<!-- 											<img ng-src="{{value.img}}" style="vertical-align: middle; margin-right: 15px;"> -->
<!-- 										</div> -->
<!-- 										<div style="overflow: hidden; display: table-cell;"> -->
<!-- 											<div ng-if="value.label">{{value.label}}</div> -->
<!-- 											<div ng-if="value.extra"><p style="margin: 0px; color: grey">({{value.extra}})</p></div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<span ng-if="!value.label">{{value}}</span> -->
<!-- 								</md-option> -->
<!-- 							</md-select> -->
							
<!-- 							<md-select multiple ng-model="field.value" ng-if="field.type == 'select' && field.multiple && field.multiple == true" ng-model-options="{trackBy: '$value.id'}" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"> -->
<!-- 								<md-option ng-value="value" ng-repeat="value in field.values track by $index"> -->
<!-- 									<div ng-if="value.label" style="padding-bottom: 5px; display: table;"> -->
<!-- 										<div style="display: table-cell; vertical-align: middle;" ng-if="value.img"> -->
<!-- 											<img ng-src="{{value.img}}" style="vertical-align: middle; margin-right: 15px;"> -->
<!-- 										</div> -->
<!-- 										<div style="overflow: hidden; display: table-cell;"> -->
<!-- 											<div ng-if="value.label">{{value.label}}</div> -->
<!-- 											<div ng-if="value.extra"><p style="margin: 0px; color: grey">({{value.extra}})</p></div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<span ng-if="!value.label">{{value}}</span> -->
<!-- 								</md-option> -->
<!-- 							</md-select> -->
		
<!-- 							<fieldset ng-if="field.type == 'checkbox' && field.values != undefined" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"> -->
<!-- 			                	<legend>{{field.label}}</legend> -->
<!-- 		                        <div ng-repeat="value in field.values track by $index" flex="50"> -->
<!-- 		                        <md-checkbox ng-checked="exists(value, field)" ng-click="toggle(value, field)"> -->
<!--                           			<span ng-bind="value.label"></span> -->
<!-- 		                        </md-checkbox> -->
<!-- 	                        </div> -->
<!-- 			                </fieldset> -->
							
<!-- 							<md-checkbox ng-if="field.type == 'checkbox' && !field.values" ng-model="field.value" ng-checked="{{field.checked}}" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"> -->
<!-- 								<span ng-bind-html="field.label"></span> -->
<!-- 							</md-checkbox> -->
							
<!-- 							<md-radio-group ng-if="field.type == 'choice' && field.subtype == 'radio'" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}" ng-model="field.value"> -->
<!-- 								<md-radio-button ng-click="load_form(field, value)" ng-repeat="value in field.values track by $index" name="{{field.group_id}}" ng-value="value.value" type="radio" aria-label="Multi-choice"> -->
<!-- 									{{value.label}} -->
<!-- 								</md-radio-button> -->
<!-- 							</md-radio-group> -->
<!-- 						</md-input-container> -->
							
<!-- 						<md-input-container class="md-input-has-placeholder" ng-if="field.type == 'autocomplete'" ng-controller="autocompleteController as actrl" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}"> -->
<!-- 							<label ng-if="field.type != 'checkbox'" ng-bind="field.label"></label> -->
<!-- 							<md-autocomplete -->
<!-- 								  md-select-on-match -->
<!-- 								  md-match-case-insensitive -->
<!-- 								  placeholder="{{field.label}}" -->
<!-- 						          md-selected-item="field.value" -->
<!-- 						          md-search-text="actrl.searchText" -->
<!-- 						          md-items="item in actrl.querySearch(actrl.searchText)" -->
<!-- 						          md-selected-item-change="actrl.selectedItemChange(item)" -->
<!-- 						          md-item-text="item.label" -->
<!-- 						          md-min-length="0" -->
<!-- 						          style="min-width: 800px" -->
<!-- 						        > -->
<!-- 						        <md-item-template> -->
<!-- 						        	<div ng-class="{'disabled': item.disabled}"> -->
<!-- 							        	<img ng-if="item.img" ng-src="{{item.img}}" style="vertical-align: middle;" ng-class="{'img-disabled': item.disabled}"> -->
<!-- 							        	<span style="padding-bottom: 5px;" md-highlight-text="actrl.searchText" md-highlight-flags="^i"> -->
<!-- 							          		{{item.label}} -->
<!-- 										</span> -->
<!-- 										<span ng-if="item.extra" style="margin: 0px; color: grey">({{item.extra}})</span> -->
<!-- 									</div> -->
<!-- 						        </md-item-template> -->
<!-- 						        <md-not-found> -->
<!-- 						          <div> -->
<!-- 						            <span ng-if="!field.sending">No items matching "{{actrl.searchText}}" were found.</span> -->
<!-- 						          	<span ng-if="field.sending"> -->
<!-- 						          		<i class="fa fa-spinner fa-2x fa-spin fa-fw"></i> -->
<!-- 						          		Loading data...						          		 -->
<!-- 						          	</span> -->
<!-- 						          </div> -->
<!-- 						        </md-not-found> -->
<!-- 						      </md-autocomplete> -->
<!-- 						</md-input-container> -->
<!-- 				</div> -->
<!-- 				<md-button ng-click="send_query()" class="md-primary md-raised">{{form.submit.label}}</md-button> -->
<!-- 			</form> -->
			</md-content>
		</md-card-content>
	</md-card>
	
	<md-card ng-if="search_started && (!form.results.type || form.results.type == 'table')" flex="{{form.width || 65}}" style="max-height: 100%; height: 100%;">
		<md-card-title class="padding-v-small">
			<md-card-title-text>
		            <span class="md-headline">Results found</span>
		    </md-card-title-text>
		</md-card-title>
		
		<md-card-content class="padding-v-no">
			<table cellspacing="0" cellpadding="10" style="width: auto;">
				<tr ng-repeat="field in form.fields track by $index">
					<td style="background-color: #e9e9e9;">
						<img ng-if="field.data.value.img" ng-src="{{field.data.value.img}}" style="vertical-align: middle;">
					</td>
					<td style="background-color: #e9e9e9; white-space: nowrap; text-align: left !important;">
						<label style="font-weight: bold;" ng-bind-html="field.label"></label>
					</td>
					<td style="text-align: left !important;">
						<div ng-if="!isArray(field.data.value) && field.data.value.label">
							{{field.data.value.label}}
							<span ng-if="field.data.value.extra" style="margin: 0px; color: grey">
								({{field.data.value.extra}})
							</span>
						</div>
						<span ng-if="isArray(field.data.value)" ng-repeat="subfield in field.data.value track by $index">
							{{subfield.label}}<span ng-if="subfield.extra" style="margin: 0px; color: grey">
								({{subfield.extra}})
							</span><span ng-if="!$last">,</span>
						</span>
						<span ng-if="!isArray(field.data.value) && !field.data.value.label" ng-bind-html="field.data.value"></span>
					</td>
				</tr>
			</table>
			<md-button ng-click="show_form()" class="md-primary md-raised" style="margin-top: 20px; margin-bottom: 20px;">Modify query</md-button>
		</md-card-content>
	</md-card>
	
	<div flex="35" layout="column">
		<div layout="row" ng-repeat="row in form.elements track by $index">
			<card ng-show="show" ng-repeat="card in row" ng-controller="cardController" ng-init="init(card)" flex="{{card.width}}" ng-class="{right: card.alignment == 'right'}">
			</card>
		</div>
	</div>
	
</section>


<!-- <section style="padding: 0% 5% 0% 5%;"> -->
<!-- 	<div layout="row" ng-repeat="row in form.elements track by $index"> -->
<!-- 		<card ng-repeat="card in row" ng-controller="cardController" ng-init="init(card)" flex="{{card.width}}" ng-class="{right: card.alignment == 'right'}"> -->
<!-- 		</card> -->
<!-- 	</div> -->
<!-- </section> -->

<section style="padding: 0% 5% 0% 5%;">
<!-- 	<div ng-if="sending" style="text-align: center; color: cadetblue;"> -->
<!--         	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> -->
<!--     </div> -->

<!-- style="max-width: 100px;" -->
<!-- style="max-height: 500px; display: block; overflow-y: scroll;" -->
<!-- style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" -->

	<md-card ng-if="search_started" class="full-card" style="max-height: unset;">
	
		<md-card-title style="text-align: center;">
			<span>{{form.results.total}}</span>
			<span ng-if="form.results.total > 0">&nbsp;result</span><span ng-if="form.results.total > 1">s</span>
		</md-card-title>
		<md-card-content>
<!-- 			<table class="table-scroll" md-table md-row-selectmultiple > -->
<!-- 				<thead md-head> -->
<!-- 		        	<tr md-row> -->
<!-- 		            	<th sortable-header style="word-break: break-word; max-width: 100px; overflow-wrap: break-word;" md-column ng-repeat="col in form_results.header track by $index"> -->
<!-- 		            	<span>{{col}}</span> -->
<!-- 		            </th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody md-body> -->
<!-- 			        <tr ng-if="!sending" md-row md-auto-select ng-repeat="row in form_results.items track by $index"> -->
<!-- 			        	<td md-cell ng-switch="field.type" ng-repeat="field in row track by $index"> -->
<!-- 			              	<span ng-switch-when="undefined" style="text-overflow: ellipsis;"> -->
<!-- 			              		<span>{{field}}</span> -->
<!-- 			              	</span> -->
			              	
<!-- 			                <div ng-switch-default> -->
<!-- 			                	<img ng-if='field.type == "image"' ng-src="{{field.data.url}}"> -->
			                	
<!-- 			                	<span ng-if='field.type == "text"'> -->
<!-- 			                		{{field.data.label}} -->
<!-- 			                		<span class="pedix" ng-if="field.data.pedix"> -->
<!-- 			                			<a target="_blank" ng-if='field.data.pedix.type == "linkable_image"' ng-href="{{field.data.pedix.data.url}}"> -->
<!-- 					                		<img class="pedix-image" title="{{field.data.pedix.data.image_title}}" ng-src="{{field.data.pedix.data.image_url}}">			                		 -->
<!-- 					                	</a> -->
<!-- 			                		</span> -->
<!-- 			                	</span> -->
			                	
<!-- 			                	<a ng-if='field.type == "linkable_image"' ng-href="{{field.data.url}}" target="_blank"> -->
<!-- 			                		<img title="{{field.data.image_title}}" ng-src="{{field.data.image_url}}">			                		 -->
<!-- 			                	</a> -->
			                	
<!-- 			                	<span ng-if='field.type == "icon"'> -->
<!-- 			                		<i class="fa {{field.data.icon}} {{field.data.modifiers}}" aria-label="{{field.data.title}}" title="{{field.data.title}}" style="color: {{field.data.color}}"></i> -->
<!-- 			                	</span> -->
			                	
<!-- 			                	<md-button ng-if='field.type == "button"' ng-style="{'background-color': field.color}" ng-click="show_dialog($event, field.card)" class="md-raised md-primary">{{field.label}}</md-button> -->
			                	
<!-- 			                	<md-button ng-if='field.type == "button_with_icon"' ng-style="{'background-color': field.color}" ng-click="show_dialog($event, field.card)" class="md-raised md-primary"> -->
<!-- 			                		<span>{{field.label}}</span> -->
<!-- 			                		<span ng-repeat="icon in field.icon"> -->
<!-- 			                			<img ng-if="icon.type == 'img'" class="button-icon" title="{{icon.data.url}}" ng-src="{{icon.data.url}}"> -->
<!-- 			                			<span ng-if='icon.type == "icon"' style="padding: 5px;"> -->
<!-- 											<i class="fa {{icon.data.icon}} {{icon.data.modifiers}}" aria-label="{{icon.data.title}}" title="{{icon.data.title}}" style="color: {{icon.data.color}}"></i> -->
<!-- 										</span> -->
<!-- 			                		</span> -->
<!-- 			                	</md-button> -->
			                	
<!-- 			              		<a download	ng-if='field.type == "download"' ng-href="{{field.url}}"><img ng-if="field.icon !== undefined" class="icon" ng-src="{{field.icon}}"/>{{field.label}}</a> -->
			              		
<!-- 			              		<a ng-if='field.type == "link"' target="_blank" ng-href="{{field.data.url}}" ng-bind-html="field.data.label"></a> -->
<!-- 			                </div> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
			
			<div ng-if="form.results.total > 0" style="margin: 10px 0px 10px 0px">
				<element  ng-repeat="element in form.post_elements" ng-controller="elementController" ng-init="init(element)">
				</element>
			</div>
			
			<my-table ng-show="(!form.results.type || form.results.type == 'table')" ng-if="!form.results.type || form.results.type == 'table'" form-data="form"></my-table>
			
			<pre ng-if="form.results.type == 'pre'" ng-bind="form.results.hits"></pre>
			
			<p ng-if="form.results.type == 'message'" ng-bind-html="form.results.content"></p>
			
		</md-card-content>
	</md-card>
	
</section>
