
<section style="padding: 0% 5% 0% 5%;" >
	<h3>Search</h3>
	<p ng-bind="form.subtitle"></p>
</section>

<section layout="row" style="padding: 0% 5% 0% 5%;" >

	<md-card flex="{{form.width || 75}}" ng-if="showing" style="height: 100%;">
		<md-card-title class="padding-v-small">
			<md-card-title-text>
		            <span class="md-headline">Search</span>
		    </md-card-title-text>
		</md-card-title>
		
		<md-card-content>
		<md-content class="md-padding">
			<form ng-submit="send_query()">
				<div ng-repeat="field in form.fields track by $index">
						<md-input-container class="md-input-has-placeholder" ng-if="field.type != 'autocomplete'" style="min-width: 800px;">
							<label ng-if="field.type != 'checkbox'" ng-bind="field.label"></label>
							
							<input ng-if="field.type != 'choice' && field.type != 'select' && field.type != 'autocomplete' && field.type != 'checkbox'" placeholder="{{field.placeholder}}" ng-model="field.value" ng-value="{{field.default}}" type="{{field.type}}"/>
							
							<md-select ng-model="field.value" ng-if="field.type == 'select' && (!field.multiple || field.multiple == false)" ng-model-options="{trackBy: '$value.id'}">
								<md-option ng-value="value" ng-repeat="value in field.values track by $index">
									<div ng-if="value.label" style="padding-bottom: 5px; display: table;">
										<div style="display: table-cell; vertical-align: middle;" ng-if="value.img">
											<img ng-src="{{value.img}}" style="vertical-align: middle; margin-right: 15px;">
										</div>
										<div style="overflow: hidden; display: table-cell;">
											<div ng-if="value.label">{{value.label}}</div>
											<div ng-if="value.extra"><p style="margin: 0px; color: grey">({{value.extra}})</p></div>
										</div>
									</div>
									<span ng-if="!value.label">{{value}}</span>
								</md-option>
							</md-select>
							
							<md-select multiple ng-model="field.value" ng-if="field.type == 'select' && field.multiple && field.multiple == true" ng-model-options="{trackBy: '$value.id'}">
								<md-option ng-value="value" ng-repeat="value in field.values track by $index">
									<div ng-if="value.label" style="padding-bottom: 5px; display: table;">
										<div style="display: table-cell; vertical-align: middle;" ng-if="value.img">
											<img ng-src="{{value.img}}" style="vertical-align: middle; margin-right: 15px;">
										</div>
										<div style="overflow: hidden; display: table-cell;">
											<div ng-if="value.label">{{value.label}}</div>
											<div ng-if="value.extra"><p style="margin: 0px; color: grey">({{value.extra}})</p></div>
										</div>
									</div>
									<span ng-if="!value.label">{{value}}</span>
								</md-option>
							</md-select>
		
							<fieldset ng-if="field.type == 'checkbox' && field.values != undefined">
			                	<legend>{{field.label}}</legend>
				                        <div ng-repeat="value in field.values track by $index" flex="50">
				                        <md-checkbox ng-checked="exists(value, field)" ng-click="toggle(value, field)">
		                          				{{value}}
				                        </md-checkbox>
			                        </div>
			                </fieldset>
							
							<md-checkbox ng-if="field.type == 'checkbox' && !field.values" ng-model="field.value" ng-checked="{{field.checked}}">
								{{field.label}}
							</md-checkbox>
							
							<md-radio-group ng-if="field.type == 'choice' && field.subtype == 'radio'">
								<md-radio-button ng-click="load_form(field, value)" ng-repeat="value in field.values track by $index" name="{{field.group_id}}" ng-model="field.value" ng-checked="{{value.selected}}" ng-value="value.label" type="radio" aria-label="Multi-choice">
									{{value.label}}
								</md-radio-button>
							</md-radio-group>
						</md-input-container>
							
						<md-input-container class="md-input-has-placeholder" ng-if="field.type == 'autocomplete'" ng-controller="autocompleteController as actrl">
							<label ng-if="field.type != 'checkbox'" ng-bind="field.label"></label>
							<md-autocomplete
								  placeholder="{{field.label}}"
						          md-selected-item="field.value"
						          md-search-text="actrl.searchText"
						          md-items="item in actrl.querySearch(actrl.searchText)"
						          md-item-text="item.label"
						          md-min-length="0"
						          style="min-width: 800px"
						        >
						        <md-item-template>
						        	<img ng-if="item.img" ng-src="{{item.img}}" style="vertical-align: middle;">
						        	<span style="padding-bottom: 5px;" md-highlight-text="actrl.searchText" md-highlight-flags="^i">
						          		{{item.label}}
									</span>
									<span ng-if="value.extra" style="margin: 0px; color: grey">({{value.extra}})</span>
						        </md-item-template>
						        <md-not-found>
						          No items matching "{{actrl.searchText}}" were found.
						        </md-not-found>
						      </md-autocomplete>
						</md-input-container>
				</div>
				<md-button ng-click="send_query()" class="md-primary md-raised">{{form.submit.label}}</md-button>
			</form>
			</md-content>
		</md-card-content>
	</md-card>
	
	<md-card flex="{{form.width || 75}}" style="max-height: 100%; height: 100%; overflow-x: scroll;" ng-if="!showing">
		<md-card-title class="padding-v-small">
			<md-card-title-text>
		            <span class="md-headline">Results found</span>
		    </md-card-title-text>
		</md-card-title>
		
		<md-card-content class="padding-v-no">
			<table cellspacing="0" cellpadding="10">
				<tr ng-repeat="field in form.fields track by $index">
					<td style="background-color: #e9e9e9;">
						<img ng-if="field.value.img" ng-src="{{field.value.img}}" style="vertical-align: middle;">
					</td>
					<td style="background-color: #e9e9e9; white-space: nowrap; text-align: left !important;">
						<label style="font-weight: bold;" ng-bind="field.label"></label>
					</td>
					<td style="text-align: left !important;">
						<div ng-if="field.value.label">
							{{field.value.label}}
							<span ng-if="field.value.extra" style="margin: 0px; color: grey">
								({{field.value.extra}})
							</span>
						</div>
						<span ng-if="!field.value.label">{{field.value}}</span>
					</td>
				</tr>
			</table>
			<md-button ng-click="show_form()" class="md-primary md-raised" style="margin-top: 20px; margin-bottom: 20px;">Modify query</md-button>
		</md-card-content>
	</md-card>
	
	<div flex="25" layout="row" style="flex-direction: row-reverse" ng-repeat="row in form.elements track by $index">
		<card ng-repeat="card in row" ng-controller="cardController" ng-init="init(card)" flex="{{card.width}}" ng-class="{right: card.alignment == 'right'}">
		</card>
	</div>
	
</section>


<!-- <section style="padding: 0% 5% 0% 5%;"> -->
<!-- 	<div layout="row" ng-repeat="row in form.elements track by $index"> -->
<!-- 		<card ng-repeat="card in row" ng-controller="cardController" ng-init="init(card)" flex="{{card.width}}" ng-class="{right: card.alignment == 'right'}"> -->
<!-- 		</card> -->
<!-- 	</div> -->
<!-- </section> -->

<section style="padding: 0% 5% 0% 5%;">
	<div ng-if="sending" style="text-align: center; color: cadetblue;">
        	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

<!-- style="max-width: 100px;" -->
<!-- style="max-height: 500px; display: block; overflow-y: scroll;" -->
<!-- style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" -->

	<md-card ng-if="form_results.items" class="full-card">
		<md-card-title style="text-align: center;">
			<span>{{form_results.items.length}}</span>
			<span>&nbsp;result</span><span ng-if="form_results.items.length > 1">s</span>
		</md-card-title>
		<md-card-content>
			<table md-table md-row-select multiple>
				<thead md-head>
		        	<tr md-row>
		            	<th style="word-break: break-word; max-width: 100px; overflow-wrap: break-word;" md-column ng-repeat="col in form_results.header track by $index">
		            	<span>{{col}}</span>
		            </th>
					</tr>
				</thead>
				<tbody md-body>
			        <tr ng-if="!sending" md-row md-auto-select ng-repeat="row in form_results.items track by $index">
			        	<td md-cell ng-switch="field.type" ng-repeat="field in row track by $index">
			              	<span ng-switch-when="undefined" style="text-overflow: ellipsis;">
			              		<span>{{field}}</span>
			              	</span>
			              	
			                <div ng-switch-default>
			                	<img ng-if='field.type == "image"' ng-src="{{field.data.url}}">
			                	
			                	<span ng-if='field.type == "text"'>
			                		{{field.data.label}}
			                		<span class="pedix" ng-if="field.data.pedix">
			                			<a target="_blank" ng-if='field.data.pedix.type == "linkable_image"' ng-href="{{field.data.pedix.data.url}}">
					                		<img class="pedix-image" title="{{field.data.pedix.data.image_title}}" ng-src="{{field.data.pedix.data.image_url}}">			                		
					                	</a>
			                		</span>
			                	</span>
			                	
			                	<a ng-if='field.type == "linkable_image"' ng-href="{{field.data.url}}" target="_blank">
			                		<img title="{{field.data.image_title}}" ng-src="{{field.data.image_url}}">			                		
			                	</a>
			                	
			                	<span ng-if='field.type == "icon"'>
			                		<i class="fa {{field.data.icon}} {{field.data.modifiers}}" aria-label="{{field.data.title}}" title="{{field.data.title}}" style="color: {{field.data.color}}"></i>
			                	</span>
			                	
			                	<md-button ng-if='field.type == "button"' ng-style="{'background-color': field.color}" ng-click="show_dialog($event, field.card)" class="md-raised md-primary">{{field.label}}</md-button>
			                	
			                	<md-button ng-if='field.type == "button_with_icon"' ng-style="{'background-color': field.color}" ng-click="show_dialog($event, field.card)" class="md-raised md-primary">
			                		<span>{{field.label}}</span>
			                		<img ng-if="field.icon" class="button-icon" title="{{field.icon}}" ng-src="{{field.icon}}">			                		
			                	</md-button>
			                	
			              		<a download	ng-if='field.type == "download"' ng-href="{{field.url}}"><img ng-if="field.icon !== undefined" class="icon" ng-src="{{field.icon}}"/>{{field.label}}</a>
			              		
			              		<a ng-if='field.type == "link"' target="_blank" ng-href="{{field.data.url}}" ng-bind-html="field.data.label"></a>
			                </div>
						</td>
<!-- 						<td style="max-width: 100px; overflow-wrap: break-word;" md-cell ng-repeat="field in row track by $index"> -->
<!--                         	<md-button  ng-if='field.type == "button"' ng-click="show_dialog($event, field.card)" class="md-raised md-primary">{{field.label}}</md-button> -->
<!--                         	<span ng-if='field.type != "button"' style="text-overflow: ellipsis;">{{field}}</span> -->
<!--                       	</td> -->
					</tr>
				</tbody>
			</table>
		</md-card-content>
	</md-card>
</section>
