<section style="padding: 0% 5% 0% 5%;">
	<p  ng-if="get_current_page_data().show_description == undefined || get_current_page_data().show_description == true"
		ng-class="{'text-alignment-justify': info.long_description_alignment == 'justify', 'text-alignment-right': info.long_description_alignment == 'right', 'text-alignment-center': info.long_description_alignment == 'center'}"
		ng-bind-html="get_current_page_data().long_description">
	</p>
</section>

<div ng-if="sending" layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<section layout="column" flex="100" style="width:{{pageInfo.width}}; margin-left: auto; margin-right: auto;">
	<div layout="row" ng-repeat="row in get_current_page_data().elements track by $index">
		<card ng-repeat="card in row" ng-controller="cardController" ng-init="init(card)" flex="{{card.width}}" ng-class="{right: card.alignment == 'right'}">
		</card>
	</div>

</section>
