<div ng-if="sending" style="text-align: center; color: cadetblue;">
	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<!-- <div ng-if="field.type == 'text'" ng-bind-html="field.label"></div> -->
<p    ng-if="field.type == 'paragraph' && field.inline != 'true'" ng-bind-html="field.data.value"></p>
<span ng-if="field.type == 'paragraph' && field.inline == 'true'" ng-bind-html="field.data.value" style="vertical-align: middle;"></span>

<img ng-if="field.type == 'image'" style="width:{{field.data.width || 'auto'}}; height:{{field.data.height || 'auto'}}; margin: {{field.data.margin || '0px'}}; vertical-align: middle;" ng-src="{{field.data.url}}">
</img>

<a ng-if="field.data.link" ng-href="{{field.data.link}}" target="_blank">
	<img ng-if="field.type == 'linkable_image'" title="{{field.data.title}}" style="width:{{field.data.width || 'auto'}}; height:{{field.data.height || 'auto'}}; margin: {{field.data.margin || '0px'}}; vertical-align: middle;" ng-src="{{field.data.url}}">
	</img>
</a>

<div ng-if="field.type == 'chips'">
	<md-chips ng-model="field.filtered_items" readonly="true" md-removable="false">
		<md-chip-template custom-chip>
	        <span style="color: {{$chip.color}};">
	          <span ng-if="$chip.key && $chip.displayKey == true"><strong>{{$chip.key}}</strong>:</span>
	          <em title="{{$chip.title}}">{{$chip.value}}</em>
	        </span>
      	</md-chip-template>
    </md-chips>
    <md-button ng-if="field.number_limit && field.items.length > field.limit && field.number_limit == field.limit" ng-click="toggleLimit()" class="md-raised md-primary">Show more</md-button>
    <md-button ng-if="field.number_limit && field.filtered_items.length > field.limit && field.number_limit == field.items.length" ng-click="toggleLimit()" class="md-raised md-primary">Show less</md-button>
</div>

<!-- <md-chip ng-if="field.type == 'chip'">{{field.subdata.label}}</md-chip> -->

<iframe ng-if="field.type == 'iframe'" allowfullscreen src="{{trustSrc(field.data.url)}}" width="{{field.width || '100%'}}" height="{{field.height || '100%'}}"></iframe>

<md-button ng-if="field.type == 'button' && field.action != 'download'" class="md-primary md-raised" style="text-decoration: none; background-color: {{field.color}}" ng-click="onClick()" title="{{field.title}}" ng-disabled="get_url() == undefined">
	<img ng-if="field.data.image" ng-src="{{field.data.image}}" height="{{field.data.height}}" style="vertical-align: middle;">
	{{field.label}}
	<i ng-if="field.data.icon" class="fa {{field.data.icon}} {{field.data.modifiers}}" style="color: {{field.data.color}}"></i>
	<i ng-if="doing_ajax" class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
</md-button>

<hr ng-if="field.type == 'divider'" class="divider">

<div ng-if="field.type == 'spacer'" class="spacer"></div>

<span ng-if='field.type == "icon"' style="padding: 5px;">
	<i class="fa {{field.data.icon}} {{field.data.modifiers}}" aria-label="{{field.data.title}}" title="{{field.data.title}}" style="color: {{field.data.color}}"></i>
</span>

<div ng-if="field.type == 'bullet_list'">
	<ul>
		<li ng-repeat="item in field.data track by $index">
			<p ng-bind-html="item"></p>
		</li>
	</ul>
</div>

<div ng-if="field.type == 'table'" style="overflow: auto; width: 100%;" ng-show="!sending">

	<table md-table md-row-select multiple>
		<tbody md-body>
			<thead md-head>
				<tr md-row md-auto-select>
					<th
						ng-repeat="f in field.subdata.header track by $index"
						md-cell md-column
						ng-switch="f.type" style="text-align: {{f.alignment}}; overflow-wrap: break-word; padding-right: 10px;"
						>
						<span ng-switch-when="undefined">{{f}}</span>
						<div ng-switch-default>
							<p title="{{f.tooltip}}" ng-if='f.type == "text"' ng-bind-html="f.label"></p>
						</div>
					</th>
				</tr>
			</thead>
			<tr md-row md-auto-select ng-repeat="item in field.subdata.items track by $index">
              <td md-cell ng-switch="f.type" ng-repeat="f in item track by $index" style="text-align: {{f.text_align}};">
                
                <span ng-switch-when="undefined">
                	<span ng-if="f.label">{{f.label}}</span>
              		<span ng-if="!f.label">{{f}}</span>
              	</span>
              	
                <div ng-switch-default>
                
<!--                 	flex="{{element.width || '100'}}" -->
                	<div ng-if="f.type == 'multi'" layout="{{f.layout || 'column'}}" layout-align="{{f.layout_align || 'start start'}}">
						<element ng-repeat="element in f.subdata" ng-controller="elementController" ng-init="init(element)">
						</element>
					</div>
					
					<img ng-if="f.type == 'image'" style="width:{{f.data.width || 'auto'}}; margin: {{f.data.margin || '0px'}}; vertical-align: middle;" ng-src="{{f.data.url}}"></img>
					
					<span ng-if='f.type == "icon"' style="padding: 5px;">
						<i class="fa {{f.data.icon}} {{f.data.modifiers}}" aria-label="{{f.data.title}}" title="{{f.data.title}}" style="color: {{f.data.color}}"></i>
					</span>
					
<!--                style="width: 100px; overflow-wrap: break-word; word-wrap: break-word; max-width: 150px;" -->
					<p ng-if='f.type == "text"' style="width: {{f.width}}; overflow-wrap: break-word; word-wrap: break-word; text-align: {{f.text_align || 'center'}};" ng-bind-html="f.label"></p>
                
<!--                 	<md-button ng-if='field.field.type == "button" && field.action == "dialog"' ng-click="onClick()" class="md-raised md-primary">{{field.label}}</md-button> -->
                	
                	<element ng-controller="elementController" ng-if='f.type == "button" && (f.action == "window" || f.action == "dialog")' ng-init="init(f)"></element>

					<a ng-if="f.type == 'link'" title="{{f.title}}" target="{{f.target}}" ng-href="{{f.url}}" ng-bind="f.label"></a>
                	
                	<form ng-if='f.type == "button" && f.action == "download"' method="get" action="{{f.url}}">
                		<md-button type="submit" title="{{f.title}}" class="md-raised md-primary">{{f.label}}</md-button>
                	</form>
                	
              		<a download	ng-if='f.type == "download"' title="{{f.title}}" href="{{f.url}}" target="_blank">
              			<img ng-if="f.icon !== undefined" class="icon" ng-src="{{f.icon}}"/>{{f.label}}
              		</a>
              		
                </div>
                
              </td>
			</tr>
		</tbody>
		
	 </table>

<!-- 	<table md-table md-row-select multiple> -->
<!-- 		<tbody md-body> -->
<!-- 			<thead md-head> -->
<!-- 				<tr md-row> -->
<!-- 					<th md-column ng-repeat="label in subdata.labels"><span>{{label}}</span></th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tr md-row md-auto-select ng-repeat="label in subdata.header track by $index"> -->
<!-- 				<td md-cell style="font-weight: bold;"><span>{{label}}</span></td> -->
<!-- 				<td md-cell style="text-align: right;"><span>{{subdata.items[$index]}}</span></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	 </table> -->
</div>

<div ng-if="field.type == 'two-column-table'" style="width:100%; max-height: 500px; overflow: auto;" ng-show="!sending">
	<table md-table md-row-select multiple>
		<tbody md-body>
			<thead md-head>
				<tr ng-if="field.subdata.labels" md-row md-auto-select>
					<th md-column ng-repeat="label in field.subdata.labels"><span>{{label}}</span></th>
				</tr>
			</thead>
			<tr md-row md-auto-select ng-repeat="item in field.subdata.header track by $index">
				<td md-cell style="font-weight: bold;">
					<span ng-if='item.type == "text"' title="{{item.tooltip}}" ng-bind-html="item.label"></span>
					<span ng-if='item.type != "text"' title="{{item.tooltip}}" ng-bind-html="item"></span>
				</td>
				<td md-cell style="text-align: right;"><span>{{field.subdata.items[0][$index]}}</span></td>
			</tr>
		</tbody>
	 </table>
</div>

<div ng-if="field.type == 'list'" style="max-height: 300px; overflow: auto;">
	<table md-table md-row-select multiple>
		<tbody md-body>
			<tr md-row md-auto-select ng-repeat="item in field.subdata.items track by $index">
				<td md-cell style="font-weight: bold;"><span>{{($index+1) + '.'}}</span></td>
				<td md-cell><span>{{item}}</span></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="field.type == 'chart-pie'" style="width:{{field.data.width || '100%'}};">
	<canvas
		class="chart chart-pie"
		chart-data="field.subdata.points"
		chart-labels="field.subdata.labels"
		chart-options="field.subdata.options"
		chart-click="onClick"
		chart-colors="field.subdata.colors"
		>
	</canvas>
</div>


<div ng-if="field.type == 'chart-doughnut'">
	<canvas
		class="chart chart-doughnut"
		chart-data="field.subdata.points"
		chart-labels="field.subdata.labels"
		chart-options="field.subdata.options"
		chart-click="onClick"
		>
	</canvas>
</div>

<div ng-if="field.type == 'chart-bar'" style="width:{{field.data.width || '100%'}};">
	<canvas
		style="width: 100%;"
		class="chart chart-bar"
		chart-data="field.subdata.points"
		chart-labels="field.subdata.labels"
		chart-series="field.subdata.series"
		chart-click="onClick"
		chart-options="field.subdata.options"
		>
	</canvas>
<!-- 	<p ng-bind="field.subdata | json"></p> -->
</div>

<div ng-if="field.type == 'chart-line'">
	<canvas
		class="chart chart-line"
		chart-data="field.subdata.points"
		chart-labels="field.subdata.labels"
		chart-series="field.subdata.series"
		chart-click="onClick"
		chart-options="field.subdata.options"
		>
	</canvas>
</div>

	<my-table ng-if="field.type == 'paginated-table'" form-data="field.data"></my-table>
	
<!-- 	<md-table-container> -->
<!-- 	  <table md-table ng-model="field.selected" md-progress="promise"> -->
<!-- 	    <thead md-head> -->
<!-- 	      <th md-column style="text-align: center; padding-bottom:20px;" ng-repeat="col in field.subdata.header"> -->
<!-- 	      	<span>{{col}}</span> -->
<!-- 	      </th> -->
<!-- 	    </thead> -->
<!-- 	    <tbody md-body> -->
<!-- 	      <tr md-row md-auto-select ng-repeat="row in field.subdata.items track by $index"> -->
<!-- 			<td md-cell style="text-align: center;" ng-repeat="f in row track by $index"> -->
<!-- 				<span ng-if="!field.url">{{f}}</span> -->
<!-- 			</td> -->
<!-- 		  </tr> -->
<!-- 	    </tbody> -->
<!-- 	  </table> -->
<!-- 	</md-table-container> -->
<!-- 	<md-table-pagination -->
<!-- 		md-limit="query.limit" -->
<!-- 		md-limit-options="[5, 10, 15]" -->
<!-- 		md-page="query.page" -->
<!-- 		md-on-paginate="update_table" -->
<!-- 		md-total="{{query.total}}" -->
<!-- 		md-page-select> -->
<!-- 	</md-table-pagination> -->

<div ng-if="field.type == 'slider'">
	<div>
		<p style="display: inline-block;" ng-bind="field.label"></p>:
		<span ng-bind="field.data.value"></span>
	</div>
	<md-slider-container>
		<md-slider	step="{{field.data.step}}"
					md-discrete
					class="md-primary"
					flex
					min="{{field.data.min}}"
					max="{{field.data.max}}"
					ng-model="field.data.value"
					aria-label="{{field.label}}"
					ng-change="onChange(field.data.value)"
					>
		</md-slider>
	</md-slider-container>
</div>

<table ng-if="field.type == 'form_summary'" cellspacing="0" cellpadding="10" style="width: auto;">
	<tr ng-repeat="f in getFields() track by $index">
		<td style="background-color: #e9e9e9;">
			<img ng-if="f.data.value.img" ng-src="{{f.data.value.img}}" style="vertical-align: middle;">
		</td>
		<td style="background-color: #e9e9e9; white-space: nowrap; text-align: left !important;">
			<label style="font-weight: bold;" ng-bind-html="f.label"></label>
		</td>
		<td style="text-align: left !important;">
			<div ng-if="!isArray(f.data.value) && f.data.value.label">
				{{f.data.value.label}}
				<span ng-if="f.data.value.extra" style="margin: 0px; color: grey">
					({{f.data.value.extra}})
				</span>
			</div>
			<span ng-if="isArray(f.data.value)" ng-repeat="subfield in f.data.value track by $index">
				{{subfield.label}}<span ng-if="subfield.extra" style="margin: 0px; color: grey">
					({{subfield.extra}})
				</span><span ng-if="!$last">,</span>
			</span>
			<span ng-if="!isArray(f.data.value) && !f.data.value.label && f.data.value" ng-bind-html="f.data.value"></span>
			<span ng-if="!isArray(f.data.value) && !f.data.value.label && !f.data.value">Any</span>
		</td>
	</tr>
</table>

<!-- words="[{text: 'Lorem', weight: 13}, {text: 'Ipsum', weight: 10.5}, {text: 'Dolor', weight: 9.4}, {text: 'Sit', weight: 8}, {text: 'Amet', weight: 6.2}, {text: 'Consectetur', weight: 5}, {text: 'Adipiscing', weight: 5}]" -->
<div ng-if="field.type == 'cloud'" ng-controller="cloudController" style="margin-left: auto; margin-right: auto;">
	<jqcloud
		words="field.subdata"
		width="{{field.width}}"
		height="{{field.height}}"
		steps="{{field.steps}}"
		delay="200"
		>
	</jqcloud>
</div>

<div ng-if="field.type == 'tree'" ng-controller="treeController" style="overflow: scroll;">
	<svg id="tree"></svg>
</div>

<div ng-if="field.type == 'circos'" ng-controller="circosController">
	<div align="center" style="font-size: 0.5em;" id="biocircos" ng-show="!sending"></div>
</div>

<div class="container well" ng-if="field.type == 'venn'" ng-show="!sending">
	<div venn="field.subdata"></div>
</div>

<!-- <i ng-if="form.tooltip" tooltip-show-trigger="focusin" tooltip-hide-trigger="focusout" title-direction="right" title="{{form.tooltip}}" class="fa fa-question-circle fa-2x" style="color: orange"></i> -->

<md-input-container class="md-input-has-placeholder" ng-if="field.subtype == 'form'">

	<md-content ng-if="field.type != 'autocomplete'">
	
		<label ng-if="field.type != 'checkbox' && field.type != 'submit'" ng-bind="field.label"></label>

		<!-- Upload file(s) -->		
		<md-button ng-if="field.type == 'upload' && !field.message || field.error" class="md-raised md-primary" ngf-select="upload($files)" ng-model="files" ngf-multiple="true">Upload</md-button>
		<p ng-if="field.type == 'upload' && field.message" ng-bind="field.message"></p>
		
		<!-- Simple text -->
		<input ng-if="field.type == 'text' || field.type == 'number'" ng-change="onChange(field.data.value)" placeholder="{{field.placeholder}}" ng-model="field.data.value" ng-value="{{field.data.default}}" type="{{field.type}}" ng-required="{{field.required}}" />

		<!-- Password -->
		<input ng-if="field.type == 'password'" placeholder="{{field.placeholder}}" ng-model="field.data.value" ng-value="{{field.data.default}}" type="{{field.type}}" ng-required="{{field.required}}" />

		<!-- Email -->
		<input ng-if="field.type == 'email'" placeholder="{{field.placeholder}}" ng-model="field.data.value" ng-value="{{field.data.default}}" type="{{field.type}}" ng-required="{{field.required}}" />

		<!-- Textarea -->
		<textarea ng-if="field.type == 'textarea'" rows="4" max-rows="4" placeholder="{{field.placeholder}}" ng-model="field.data.value" ng-value="{{field.data.default}}" ng-required="{{field.required}}"></textarea>
		
		<!-- Select simple -->
		<md-select
			ng-model-options="{trackBy: '$value.id'}"
			ng-model="field.data.value"
			ng-change="onChange(field.data.value)"
			ng-if="field.type == 'select' && (!field.data.multiple || field.data.multiple == false)"
			ng-required="{{field.required}}"
		>
<!-- 			<md-option ng-value="value" ng-repeat="value in subdata track by $index"><span>{{value.label}}</span></md-option> -->
			<md-option ng-value="value" ng-repeat="value in field.subdata track by $index">
				<div ng-if="value.label" style="padding-bottom: 5px; display: table;">
					<div style="display: table-cell; vertical-align: middle;" ng-if="value.img">
						<img ng-src="{{value.img}}" style="vertical-align: middle; margin-right: 15px;">
					</div>
					<div style="overflow: hidden; display: table-cell;">
						<div ng-if="value.label">{{value.label}}</div>
						<div ng-if="value.extra"><p style="margin: 0px; color: grey">({{value.extra}})</p></div>
					</div>
				</div>
				<span ng-if="!value.label">{{value}}</span>
			</md-option>
		</md-select>
		
		<!-- Select multiple -->
		<md-select multiple
			ng-if="field.type == 'select' && field.data.multiple && field.data.multiple == true"
			ng-model="field.data.value"
			ng-model-options="{trackBy: '$value.id'}"
			ng-required="{{field.required}}"
			>
			<md-option ng-value="value" ng-repeat="value in field.subdata track by $index">{{value}}</md-option>
		</md-select>
		
		<!-- Checkbox (simple) -->
		<md-checkbox ng-if="field.type == 'checkbox' && !field.data.multiple" ng-model="field.data.value" ng-checked="field.data.value == true" ng-required="{{field.required}}">
			<div ng-bind-html="field.label"></div>
		</md-checkbox>
		
		<!-- Checkbox (group) -->
		<fieldset ng-if="field.type == 'checkbox' && field.data.multiple" ng-required="{{field.required}}">
			<legend>{{field.label}}</legend>
         	<md-checkbox ng-repeat="value in field.subdata track by $index" ng-checked="exists(value)" ng-click="toggle(value)" style="display: {{field.inline ? 'inline-block' : 'block'}}">
			<span ng-bind-html="value.label" title="{{value.title}}"></span>
            </md-checkbox>
        </fieldset>
        
        <!-- Radio -->
		<md-radio-group ng-if="field.type == 'radio'" ng-disabled="{{field.disabled}}" ng-required="{{field.required}}" ng-model="field.data.value">
			<md-radio-button ng-click="toggle(value)" ng-repeat="value in field.data.values track by $index" name="{{field.group_id}}" ng-value="value.value" type="radio" aria-label="Multi-choice">
				{{value.label}}
			</md-radio-button>
		</md-radio-group>
		
		<!-- Submit -->
<!-- 		<form ng-if="field.type == 'submit'" method="{{field.data.type || 'GET'}}" action="{{field.data.url}}"> -->
			<md-button ng-if="field.type == 'submit'" type="submit" class="md-primary md-raised" style="text-decoration: none; background-color: {{field.color}}" ng-click="onClick()" title="{{field.title}}" ng-disabled="get_url() == undefined">
				<i ng-if="field.data.icon" class="fa {{field.data.icon}} {{field.data.modifiers}}" style="color: {{field.data.color}}"></i>
				<img ng-if="field.data.image" ng-src="{{field.data.image}}" height="{{field.data.height}}" style="vertical-align: middle;">
				{{field.label}}
				<i ng-if="doing_ajax" class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
			</md-button>
<!-- 		</form> -->
        
	</md-content>
	
	<md-content ng-if="field.type == 'autocomplete'"
		class="md-input-has-placeholder"
		ng-controller="autocompleteController as actrl"
		ng-disabled="{{field.disabled}}"
		ng-required="{{field.required}}"
		md-select-on-match>
		
		<label ng-bind="field.label"></label>
		
		<div ng-if="sending" style="text-align: center; color: cadetblue;">
			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		</div>
		
		<md-autocomplete
		      md-select-on-match
			  md-match-case-insensitive
			  placeholder="{{field.label}}"
	          md-search-text="actrl.searchText"
	          md-selected-item="field.data.value"
	          md-selected-item-change="actrl.selectedItemChange(item)"
	          md-items="item in actrl.querySearch(actrl.searchText)"
	          md-item-text="item.label"
	          md-min-length="0"
	          style="min-width: 100%"
	          ng-required="{{field.required}}"
	        >
	        <md-item-template>
	        
	        	<div ng-class="{'disabled': item.disabled}">
		        	<img ng-if="item.img" ng-src="{{item.img}}" style="vertical-align: middle;" ng-class="{'img-disabled': item.disabled}">
		        	<span style="padding-bottom: 5px;" md-highlight-text="actrl.searchText" md-highlight-flags="^i">
		          		{{item.label}}
					</span>
					<span ng-if="item.extra" style="margin: 0px; color: grey">({{item.extra}})</span>
				</div>
	        
<!-- 	        	<div ng-if="item.label" style="padding-bottom: 5px; display: table; width: 100%;"> -->
<!-- 					<div style="display: table-cell; vertical-align: middle;" ng-if="item.img"> -->
<!-- 						<img ng-src="{{item.img}}" style="vertical-align: middle; margin-right: 15px;"> -->
<!-- 					</div> -->
<!-- 					<div style="overflow: hidden;"> -->
<!-- 						<div ng-if="item.label" md-highlight-text="actrl.searchText" md-highlight-flags="^i">{{item.label}}</div> -->
<!-- 						<div ng-if="item.extra"><p style="margin: 0px; color: grey">({{item.extra}})</p></div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div ng-if="!value.label"> -->
<!-- 					<span md-highlight-text="actrl.searchText" md-highlight-flags="^i">{{item.label}}</span> -->
<!-- 				</div> -->
	        </md-item-template>
	        <md-not-found>
				<span ng-if="!sending">No items matching "{{actrl.searchText}}" were found.</span>
	         	<span ng-if="sending">
	         		<i class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
	         		Loading data...
	         	</span>
	       </md-not-found>
	      </md-autocomplete>
	</md-content>
</md-input-container>

<!-- layout-align="start center" layout-wrap layout="row" flex="100" -->
<div ng-if="field.type == 'multi'" layout="{{field.layout || 'row'}}" layout-align="{{field.layout_align || 'start center'}}" layout-wrap>
	<element flex="{{element.width}}" ng-repeat="element in field.subdata" ng-controller="elementController" ng-init="init(element)">
	</element>
</div>
